/*
    DEMO STYLE
*/
body {
    font-family: 'Bell MT', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Apple Chancery', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    background: #0D47A1;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0D47A1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #0D47A1;
}

#sidebar ul p {
    font-family: "Trebuchet MS";
    color: #fff;
    display: none;
    font-weight: bold;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0D47A1;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0D47A1;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.center-class{
    position: absolute;
    z-index: 15;
    left: 50%;
    margin-bottom: 50px;
}

.right_shift-class{
    position: absolute;
    z-index: 15;
    left: 20%;
    margin-bottom: 50px;
}

.margin-sixty {
    margin-top: 60px;
}

.margin-hundred {
    margin-top: 100px;
}


/** Concept Map css **/
.inner_node rect {
    pointer-events: all;
}

.inner_node rect.highlight {
    stroke: #315B7E;
    stroke-width: 2px;
}

.outer_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    pointer-events: all;
}

.outer_node circle.highlight {
    stroke: #315B7E;
    stroke-width: 2px;
}

.link {
    fill: none;
}

